body {
	text-align: center;
}

#inputWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	margin: 1%;
	width: 30%;
}

#waveformWrapper  {
	height: 80%;
}

#waveform {
	pointer-events: none;
}

.nextInput.waiting {
	pointer-events: none;
	opacity: .5;
}

select {
	margin-top: 1%;
}

.hide {
	display: none !important;
}

#nextInputsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center

}
button {
	width: 20%;
}

button.nextInput {
	margin-top: 1%;
	text-align: center;
}